################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyCollection/bin/Debug
/MyCollection/obj/Debug
